.choose-section {
  background-color: var(--bg-black);
  padding: 10rem;
}

@media (max-width: 700px) {
  .choose-section {
    padding: 1rem;
  }
}
@media (max-width: 400px) {
  .choose-section {
    padding: 0.5rem;
  }
}

.choose-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choose-container h2 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .choose-container h2 {
    font-size: 3rem;
  }
}
.choose-container h2 span {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.choose-container__content {
  color: white;
  display: grid;
  font-size: 1rem;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  width: 100%;
  @media (max-width: 1400px) {
    gap: 1rem;
  }
}

@media (max-width: 1400px) {
  .choose-container__content {
    grid-template-columns: 1fr;
  }
}

.choose-container__content__1,
.choose-container__content__3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.choose-container__content__2 {
  align-items: center;
  display: flex;
  justify-content: center;

}

.choose-container__content__2 img {
  width: 75%;
  @media (max-width: 1400px) {
    display: none;
  }
}

.choose-box {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 2.4rem;
  border: 1px solid rgba(131, 131, 131, 0.25);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 1rem;
  width: 100%;
}

@media (max-width: 450px) {
  .choose-box {
    gap: 0.5rem;
    padding: 1.4rem;
  }
  .choose-box p{
    font-size: .8rem;
  }
  .choose-box h4{
    font-size: 1rem !important;
  }
}

.choose-box h4 {
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
}

.choose-box p {
  color: #e7e6e8;
  margin-top: .2rem;
  text-align: left;
}

.choose-box i {
  align-items: center;
  background-image: linear-gradient(
    50deg,#3b2d8b,#df0ac2
  );
  border-radius: 1.6rem;
  display: flex;
  height: 5rem;
  padding: 1.5rem;
  width: 5rem;
}
