.nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.nav__intro{
  background-color: #040210;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__intro__text a{
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}
.nav__intro__text a:hover{
  margin-right: .2rem;
  
}
.navbar {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 120rem;
  padding: 1rem 2rem 1rem 2rem;
  z-index: 100;
  border-bottom: 1px solid #20213f;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }
  @media (max-width: 300px) {
    padding: 1.7rem 0.5rem;
  }
}

.navbar p {
  cursor: pointer;
  font-size: 2rem;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;

  @media (max-width: 850px) {
    display: none;
  }
}

.navbar ul a {
  font-size: 1.1rem;
  transition: all 0s ease-in-out;
}

.navbar ul a:hover {
  color: var(--primary);
}

.navbar span {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav__button {
  display: flex;
  gap: 0.3rem;
  font-family: "Inter", sans-serif;
  border: 1px solid #776b96;
  border-radius: 10px;
  position: relative;
  color: #f4f0ff;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(175, 29, 219, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
  box-shadow: 0 0 0 0 rgba(16, 0, 51, 0.4), 0 2px 5px 0 rgba(16, 0, 51, 0.39),
    0 8px 8px 0 rgba(16, 0, 51, 0.34), 0 19px 11px 0 rgba(16, 0, 51, 0.2),
    0 34px 14px 0 rgba(16, 0, 51, 0.06), 0 53px 15px 0 rgba(16, 0, 51, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #1e0d49;
  padding: 8px 17px;
  transition: all 0.3s ease-in-out;
  @media (max-width: 500px) {
    display: none
  }
}
.nav__button:hover {
  background-color: #513f96;
}

.hamburger-menu {
  display: none;
  font-size: 2.7rem;

  @media (max-width: 850px) {
    display: flex !important;
  }
}


/* MOBILE NAV */

.mobile-nav {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 100vh;
  justify-content: center;
  left: -120%;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 9999999;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
}

.mobile-nav ul a {
  color: black;
  transition: all 0.2s ease-in-out;
}

.mobile-nav ul a:hover {
  color: var(--primary);
}

.mobile-up {
  left: 0;
}

.close-mobile {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 3rem;
  transition: all 0.3s ease-in-out;
}

.close-mobile:hover {
  opacity: 0.5;
}
