.slider-section {
  margin-top: 7.4rem;
}
.slider__content {
  padding: 0rem 2rem;
}
.slider__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100px, 400px) minmax(100px, 400px) minmax(
      100px,
      400px
    );
  grid-template-rows: repeat(2, 1fr);
  height: 33rem;
  justify-content: center;
  margin-top: 48px;
  @media (max-width: 800px) {
    display: none;
  }
}
.slider__1,
.slider__2,
.slider__3,
.slider__4,
.slider__5 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.slider__1:hover,
.slider__2:hover,
.slider__3:hover,
.slider__4:hover,
.slider__5:hover {
  transform: scale(1.015);
}

.slider__1 {
  background: url("../images/slider/tether.png") no-repeat bottom / contain,
    linear-gradient(150deg, #010313 70%, #211b3d 90%);
  border: none;
  grid-row: span 2;
}

.slider__2 {
  background: url("../images/slider/phone.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #211b3d 90%);
  border: none;
}

.slider__3 {
  background: url("../images/slider/coins.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #211b3d 90%);
  border: none;
}

.slider__4 {
  background: url("../images/slider/wallet.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #211b3d 90%);
  border: none;
}

.slider__5 {
  background: url("../images/slider/charts.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #211b3d 90%);
  border: none;
}
.slider__container__1 div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem 1rem 2rem;
}
.slider__1__title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
.slider__1__rewards {
  font-size: 3rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
.slider__1__des {
  color: rgb(156, 155, 155);
  padding: 0rem 2rem 0rem 2rem;
  @media (max-width: 500px) {
    display: none;
  }
}
.slider__text {
  padding: 1.5rem 2rem 0rem 2rem;
}
.slider__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.slider__des {
  color: rgb(165, 164, 164);
}
.mySwiper {
  display: none !important;
  @media (max-width: 800px) {
    display: flex !important;
  }
}
.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
@media (max-width: 800px) {
  .slider__container__1 {
    background: url("../images/slider/tether.png") no-repeat right / contain,
      linear-gradient(150deg, #010313 70%, #211b3d 90%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-row: span 2;
    height: 15rem;
  }

  .slider__container__2 {
    background: url("../images/slider/phone.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #211b3d 90%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
  }

  .slider__container__3 {
    background: url("../images/slider/coins.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #211b3d 90%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
  }

  .slider__container__4 {
    background: url("../images/slider/wallet.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #211b3d 90%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
    margin-bottom: 2rem;
  }

  .slider__container__5 {
    background: url("../images/slider/charts.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #211b3d 90%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
  }
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #cf3eec !important;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
