footer {
  align-items: center;
  background-image: url("../images/home/footer-bg.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  height: 25rem;
  justify-content: center;
  text-align: center;
  width: 100%;
  @media (max-width: 1000px) {
    height: 15rem;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.footer-content__socials {
  display: flex;
  gap: 2rem;
}

.footer-icon {
  color: white;
}

.footer-content__text {
  color: #ffffff;
  display: flex;
  font-size: 1.3rem;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-content__text p {
  cursor: pointer;
}

.footer-content__text p:hover {
  color: #9c83ff;
}

.footer-icon {
  width: 2rem;
  height: 2.5rem;
}
.footer-icon:hover {
  color: #706f6f;
}
