.slider-section {
  margin-top: 5rem;
  margin-bottom: 7rem;
  @media (max-width: 800px) {
    margin-bottom: 4rem;
  }
}
.slider__content {
  padding: 0rem 1rem;
}
.slider__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(100px, 550px) minmax(100px, 450px) minmax(
      100px,
      450px
    );
  grid-template-rows: repeat(2, 1fr);
  height: 33rem;
  justify-content: center;
  margin-top: 48px;
  @media (max-width: 800px) {
    display: none;
  }
}
.slider__1,
.slider__2,
.slider__3,
.slider__4,
.slider__5 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border: 1px solid #302858;
  transition: transform 0.3s ease-in-out;
}

.slider__1:hover,
.slider__2:hover,
.slider__3:hover,
.slider__4:hover,
.slider__5:hover {
  transform: scale(1.02);
}
.slider__1 {
  background: url("../images/slider/tether.png") no-repeat bottom / contain,
    linear-gradient(150deg, #010313 70%, #3d3272 90%);
  grid-row: span 2;
  @media (max-width: 800px) {
    border: none;
  }
}

.slider__2 {
  background: url("../images/slider/phone.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #3d3272 90%);
  @media (max-width: 800px) {
    border: none;
  }
}

.slider__3 {
  background: url("../images/slider/coins.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #3d3272 90%);
  @media (max-width: 800px) {
    border: none;
  }
}

.slider__4 {
  background: url("../images/slider/wallet.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #3d3272 90%);
  @media (max-width: 800px) {
    border: none;
  }
}

.slider__5 {
  background: url("../images/slider/charts.png") no-repeat bottom left / contain,
    linear-gradient(150deg, #010313 70%, #3d3272 90%);
  @media (max-width: 800px) {
    border: none;
  }
}
.slider__container__1 div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem 1rem 2rem;
}
.slider__1__title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
.slider__1__rewards {
  font-size: 3rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
.slider__1__des {
  color: rgb(165, 164, 164);
  padding: 0rem 2rem 0rem 2rem;
}
.slider__text {
  padding: 1.5rem 2rem 0rem 2rem;
}
.slider__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.slider__des {
  color: rgb(165, 164, 164);
}
.mySwiper {
  display: none !important;
  @media (max-width: 800px) {
    display: flex !important;
  }
}
.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
@media (max-width: 800px) {
  .slider__container__1 {
    background: url("../images/slider/tether.png") no-repeat right / contain,
      linear-gradient(150deg, #010313 70%, #3d3272 90%);
  }

  .slider__container__2 {
    background: url("../images/slider/phone.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #3d3272 90%);
  }

  .slider__container__3 {
    background: url("../images/slider/coins.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #3d3272 90%);
  }

  .slider__container__4 {
    background: url("../images/slider/wallet.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #3d3272 90%);
  }

  .slider__container__5 {
    background: url("../images/slider/charts.png") no-repeat bottom center /
        contain,
      linear-gradient(150deg, #010313 70%, #3d3272 90%);
  }

  .slider__container__1,
  .slider__container__2,
  .slider__container__3,
  .slider__container__4,
  .slider__container__5 {
    border-radius: 15px;
    border: 1px solid #302858;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15rem;
    transition: transform 0.2s ease-in-out;
  }
  .slider__container__1:hover,
.slider__container__2:hover,
.slider__container__3:hover,
.slider__container__4:hover,
.slider__container__5:hover {
  transform: scale(1.015);
  border: none;
}
}


.swiper-pagination-bullet {
  background-color: #9c63e6 !important;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
